   table.header {
            background-color: white;
            border: 1px solid #d3d3d3;

        }

        table.header td.header-msg {
            font-family: Arial;
            padding: 8px;
            color: green;
            text-align: left;
            height: 10%;
        }

        table.dashboard {

            background-color: white;
            border: 1px solid #d3d3d3;
            margin-left: 25%;
            margin-right: 10%;


        }
        table.environmentSelected {

            background-color: white;
            border: 3px solid #d3d3d3;
            margin-left: 25%;
            margin-right: 10%;


        }
        table.environmentSelected td, table.environmentSelected th {
            border: 1px lightgrey #ddd;
            padding: 8px;
        }

        table.dashboard td, table.dashboard th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table.dashboard td.success {
            /*border: 1px solid #ddd;*/
            /*padding: 8px;*/
            /*color: green*/
            /*width:1px;*/
            /*height:1px;*/
            align-content: center;


        }

        table.dashboard td.failure {
            border: 1px solid #ddd;
            padding: 8px;
            color: red
        }

        img.alignleft {
            display: inline;
            float: left;
            margin: 15px 15px 5px 0;
        }
        #environment-dropdwon{
            background-color:white;
            margin-left: 25%;
            margin-right: 10%;

        }

               

       header table{
        /* position: fixed; */
       }
    nav {
        background-color:white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 2px solid white;
            width: "100%";
            height: "8%";
        color: gray;
        border-collapse: separate;
        border-spacing: 2px;
		border:1px solid #d3d3d3;
        /* position: fixed; */
      }
      nav a{
          color: black;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;  
          font-size: large;
          margin: 20px;
          text-decoration: none;
          width: 30px;
         
      }
      body main.signup  {
        color: blueviolet; 
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        border: brown;
      }
        
    
        body {
            background-color: #F0F0F0;
            
            
        }
        img.banner{
            width: "100%";
            height: "46%";
            
           }

         
          footer{
              background-color: gray;
              width: 100%;
              padding: 20px;
              margin: 25px;            
              font: white              
          }
          
          
